numpy==2.2.6
pandas==2.2.2
scikit-learn==1.5.2
xgboost==1.7.6
lightgbm==4.3.0
catboost==1.2.8
joblib>=1.3
streamlit>=1.37
librosa==0.10.2.post1
soundfile==0.12.1
audioread==3.0.1
moviepy==1.0.3
imageio-ffmpeg>=0.4.9
